* {
    margin:0
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.app{
    display: grid;
    align-self: center;
    min-height: 85vh;
    padding-top:15px;
    align-content: center;
    justify-content: center;

}

.header{
    display: flex;
    height: 5vh;
    background-color: #191414;
    color: white;
    padding:20px;
    align-items: center;
    margin-bottom: 5px;
}

#homelogo :hover{
  cursor:pointer
}

.spotifywidget{
  position: fixed;
  bottom: 0;
  width: 100%;
  align-self: center;
  z-index: 1000;
}

.spotifycontrols{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  opacity: 0.3;
}